.box-detailed{
    display: block;
    margin-top: 80px
}
.source-detailed{
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: var(--green);
    margin: 0px;
}
.title-detailed{
    font-family: var(--font-playfair);
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    color: var(--black-font);
    display: block;
    margin: 15px auto;
    width: 992px;
}
.box-author-detailed{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: 40px;
}
.image-detailed{
    display: block;
    margin: 0px auto;
    margin-bottom: 40px;
    width: 992px;
    height: 562px;
    border-radius: 4px;
    object-fit: cover;
}
.text-detailed{
    width: 686px;
    margin: 0 auto;
    font-family: var(--font-poppins);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--black-font);
}
@media (max-width: 475px){
    .title-detailed{
        width: 100%;
    }
    .text-detailed{
        width: 100%;
    }
}